$title-font: normal bold 30px/24px 'Roboto', sans-serif;
$color: #2ecc71;
$title-color: #566366;
$text-color: #919191;
$main-text: normal normal 18px/30px 'Roboto', sans-serif;
$bg: #f2f2f1;
$h3:  normal bold 22px/24px 'Roboto', sans-serif;

// funtion px to rem
@function rem($size) {
    $remSize: $size/ 16px;
    @return #{$remSize}rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: $text-color;
    font: $main-text;
}

h2 {
    color: $title-color;
    font: $title-font;
    text-transform: uppercase;   
}

h3 {
    font: $h3;
    color: $title-color;
    text-transform: uppercase;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.section__main {

    display: flex;

    &-bg {
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: url(../img/main.png) no-repeat;
        background-size: cover;

        @media (max-width: 768px) {
            height: 600px;
            background-position-x: center;
            
        }
    }

    &-title {
        font-size: rem(60px);
        color: #fff;
        border: 1px solid #fff;
        border-right: none;
        border-left: none;
        margin-bottom: rem(55px);
        text-transform: uppercase;
        text-align: center;

        @media (max-width: 768px)  {
            font-size: rem(25px);
        }

    }

    .learn {
        text-decoration: none;
        border: 1px solid white;
        padding: rem(20px);
        color: white;
        font-weight: bold;
        font-size: rem(18px);
        text-transform: uppercase;
    }

    .learn:hover {
        color: $color;
        border: 1px solid $color;
        transition: all .3s;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252e30;
    position: sticky;
    top: 0;
    height: rem(70px);
    z-index: 1000;

    .logo {
        display: flex;
        align-items: center;

        &__title {
            color: #fff;
            text-transform: uppercase;
            margin-left: rem(20px);
            font: $title-font;


            &-green {
                color: $color;
            }

        }
    }

    .nav__menu {

        @media (max-width: 768px) {
            display: none;
        }
       
        &-list {
            list-style-type: none;
            display: flex;
        }

        &-item {
            color: #fff;
            font-size: rem(16px);
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 rem(20px);
            transition: all .3s;
        }

        &-item:hover {
            color: $color;
        }


    }
}

// burger
@media (max-wisth: 768px) {
    
}


.section__advantages {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    &-block {
        width: rem(400px);
        margin: rem(150px) auto;

        @media (max-width: 768px) {
            width: 100%;
            margin: rem(20px) auto;
        }
    }
}

.about {
    background: $bg;
    display: flex;

    @media (max-width:768px) {
        flex-wrap: wrap;
        
    }

    &__img {
        width: 100%;
    }

    &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        width: 50%;

        @media (max-width:768px) {
            width: 90%;
            margin: auto;
            
        }

        &-item {
            display: flex;
            align-items: flex-start;
            margin: 20px 0;
        }

        &-abilities {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        &-ability {
            display: flex;
            flex-direction: column;
            width: 200px;
            margin-left: 20px;
        }

        &-title {
            color: $title-color;
            font-size: rem(22px);
            font-weight: bold;
            text-transform: uppercase;   
        }

    }

}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: rem(100px) rem(50px);

    @media (max-width:768px) {
        flex-direction: column;
        margin:  rem(20px) 0;
    }


    &__text {
        width: 40%;

        @media (max-width:768px) {
            width: 90%;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        border: 1px solid $color;
        padding: rem(20px);
        margin: rem(15px) 0;
        color: $color;
        font-weight: bold;
        font-size: rem(18px);
        text-transform: uppercase;

        @media (max-width:768px) {
            width: 100%;
            text-align: center;
        }
        
    }

    &__link:hover {
        color: $text-color;
        border: 1px solid $text-color;
        transition: all .3s;
    }

    &__progress {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (max-width:768px) {
            width: 100%;
        }
    }

}

.progress  {
    width: 100%;
    background-color: $bg;

    span {
        background-color: $color;
        font: $main-text;
        color: white;
        display: flex;
        justify-content: flex-end;
        padding-right: rem(5px);
    }

    &__big {
        width: 90%;
    }

    &__middle {
        width: 80%;
    }

    &__low {
        width: 70%;
    }
}

.resume {
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: rem(100px) 0;


    P {
        width: 70%;

        @media (max-width:768px) {
            width: 90%;
        }
    }

    &:after {
        content: " ";
        display: block;
        position: absolute;
        border: 20px solid transparent; 
        border-top: 20px solid $bg;
        bottom: -35px;
        left: 49%;

        @media (max-width:768px) {
            left: 45%;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        border: 1px solid $color;
        padding: rem(20px);
        margin: rem(15px) 0;
        color: $color;
        font-weight: bold;
        font-size: rem(18px);
        text-transform: uppercase;

        @media (max-width:768px) {
            width: 85%;
            text-align: center;
        }
        
    }

    &__link:hover {
        color: $text-color;
        border: 1px solid $text-color;
        transition: all .3s;
    }

}

.education {
    display: flex;
    flex-direction: column;
    margin: rem(100px) auto;

    @media (max-width:768px) {
        width: 90%;
    }

    &__section {
        display: flex;;
        justify-content: space-around;
        align-items: baseline;

        @media (max-width:768px) {
            justify-content: center;
            flex-direction: column;
        }

        &:first-child {
            border-bottom: 1px solid $text-color;
            padding-bottom: rem(100px);
            margin-bottom: rem(100px);
        }


    }

    &__description {
        width: 40%;
        @media (max-width:768px) {
            width: 100%;
        }
    }

    &__experience {
        width: 40%;

        @media (max-width:768px) {
            width: 100%;
        }

        &-title {
            border-bottom: 1px solid $text-color;
            padding-bottom: rem(20px);
            margin-bottom: rem(20px);
        }

        &-gpa {
            background-color: $color;
            width: rem(80px);
            text-align: center;
            font: $main-text;
            color: white;
        }

    }
}