body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #919191;
}

h2 {
  color: #566366;
  font: normal bold 30px/24px "Roboto", sans-serif;
  text-transform: uppercase;
}

h3 {
  font: normal bold 22px/24px "Roboto", sans-serif;
  color: #566366;
  text-transform: uppercase;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__main-bg {
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/main.png) no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .section__main-bg {
    height: 600px;
    background-position-x: center;
  }
}

.section__main-title {
  font-size: 3.75rem;
  color: #fff;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  margin-bottom: 3.4375rem;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .section__main-title {
    font-size: 1.5625rem;
  }
}

.section__main .learn {
  text-decoration: none;
  border: 1px solid white;
  padding: 1.25rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.section__main .learn:hover {
  color: #2ecc71;
  border: 1px solid #2ecc71;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #252e30;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4.375rem;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__title {
  color: #fff;
  text-transform: uppercase;
  margin-left: 1.25rem;
  font: normal bold 30px/24px "Roboto", sans-serif;
}

.header .logo__title-green {
  color: #2ecc71;
}

@media (max-width: 768px) {
  .header .nav__menu {
    display: none;
  }
}

.header .nav__menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__menu-item {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1.25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .nav__menu-item:hover {
  color: #2ecc71;
}

.section__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .section__advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}

.section__advantages-block {
  width: 25rem;
  margin: 9.375rem auto;
}

@media (max-width: 768px) {
  .section__advantages-block {
    width: 100%;
    margin: 1.25rem auto;
  }
}

.about {
  background: #f2f2f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__img {
  width: 100%;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  width: 50%;
}

@media (max-width: 768px) {
  .about__box {
    width: 90%;
    margin: auto;
  }
}

.about__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 0;
}

.about__box-abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__box-ability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin-left: 20px;
}

.about__box-title {
  color: #566366;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 6.25rem 3.125rem;
}

@media (max-width: 768px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.25rem 0;
  }
}

.skills__text {
  width: 40%;
}

@media (max-width: 768px) {
  .skills__text {
    width: 90%;
  }
}

.skills__link {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #2ecc71;
  padding: 1.25rem;
  margin: 0.9375rem 0;
  color: #2ecc71;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .skills__link {
    width: 100%;
    text-align: center;
  }
}

.skills__link:hover {
  color: #919191;
  border: 1px solid #919191;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.skills__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media (max-width: 768px) {
  .skills__progress {
    width: 90%;
  }
}

.progress {
  width: 100%;
  background-color: #f2f2f1;
}

.progress span {
  background-color: #2ecc71;
  font: normal normal 18px/30px "Roboto", sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0.3125rem;
}

.progress__big {
  width: 90%;
}

.progress__middle {
  width: 80%;
}

.progress__low {
  width: 70%;
}

.resume {
  background-color: #f2f2f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  padding: 6.25rem 0;
}

.resume P {
  width: 70%;
}

@media (max-width: 768px) {
  .resume P {
    width: 90%;
  }
}

.resume:after {
  content: " ";
  display: block;
  position: absolute;
  border: 20px solid transparent;
  border-top: 20px solid #f2f2f1;
  bottom: -35px;
  left: 49%;
}

.resume__link {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #2ecc71;
  padding: 1.25rem;
  margin: 0.9375rem 0;
  color: #2ecc71;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .resume__link {
    width: 85%;
    text-align: center;
  }
}

.resume__link:hover {
  color: #919191;
  border: 1px solid #919191;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*# sourceMappingURL=main.css.map */